body {
  background-color: white;
}

.content {
  width: 400px;
  padding: 10px;
}

.chapters {
  height: 350px;
  overflow-x: auto;
}

.chapter {

}

.chapter:hover {
  cursor: pointer;
  font-weight: 700;
}

.selected {
  color: red;
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.buttons p {
  color: rgb(133, 133, 134);
}