body {
  background-color: rgba(0, 0, 0, 0.2);
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}

.card {
  padding: 25px;
  display: flex;
  width: 800px;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.title {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 48px;
  height: 48px;
}

.sub-header {
  color: rgba(0, 0, 0, 0.584);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}